body {
    height: 700px;
    font-family: Arial;
    background-color: rgb(218, 218, 218);
}

.btn {
    border: 2px solid rgb(0, 0, 0);
    color: #ffffff;
    font-weight: bold;
    margin: 0 auto;
    overflow: hidden;
    padding: 10px 30px;
    align-items: center;
    justify-content: space-around;
    display: flex;
    float: none;
}

.btn.stop {
    background-color: rgb(206, 67, 57);
}

.btn.start,
.store {
    background-color: rgb(12, 143, 44);
}

select {
    border: 2px solid rgb(0, 0, 0);
}

#progressBar {
    width: 20%;
    height: 30px;
    background-color: rgb(64, 110, 194);
    border-radius: 20px;
    text-align: center;
    line-height: 30px;
    color: white;
}

#bar-holder {
    background-color: rgb(139, 139, 139);
    border-radius: 20px;
}

input {
    border: 2px solid #333333;
}

#navbarNavDropdown>ul>li {
    text-align: right;
}

.col-start-t{
    width: 50%;
}
.col-end-t{
    width: 50%;
}